[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/node {{dir_path}}/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{service_name}}
Environment=NODE_ENV=production


[Install]
WantedBy=default.target
